#User specific vscode files
.vscode/

#User specific pycaches
__pycache__/

#data files
data/

#plots
plots/

#gifs
covid/gifs

#checkpoints
covid/.ipynb_checkpoints/

#results
vaccine_allocation_model/Results/results_municipalities/
