#User specific vscode files
.vscode/

#User specific pycaches
__pycache__/

#data files
#data/

#plots
plots/

#checkpoints
covid/.ipynb_checkpoints/

#results
vaccine_allocation_model/results/
data/candidate_mvp
